@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;800&display=swap");
/* $base: #FEFBF6 OR #F5E9CF;
$accent: #A6D1E6 OR #DF7857;
$accent-text: #3D3C42; */
$base: #ede9d5;
$accent: #54bab9;
$accent-text: #1b2430;
html {
  background-color: $base;
  color: #3d3c42;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik";
}

body {
  font-family: "Rubik";
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
  margin: 0;
}
.s {
  position: fixed;
  right: 750;
}

table {
  border-collapse: separate;
  width: 100%;
}
th {
  border-bottom: 1px solid #7f5283;
}
td {
  border-bottom: 1px solid #7f5283;
  padding: 10px;
}

.adjustWidth {
  width: 50%;
}
@media screen and (max-width: 400px) {
  .adjustWidth {
    width: 70%;
  }
}
input {
  padding: 20px;
  border: 1px solid #e5e3c9;
  background-color: #e5e3c9;
  border-radius: 4px;
  width: 50%;
  box-sizing: border-box;
}
select {
  border: 1px solid #e5e3c9;
  background-color: #e5e3c9;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  color: #1b2430;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: $accent;
}

a:visited {
  color: black;
}

a:active {
  color: $accent;
}

.blue {
  color: $accent;
  text-decoration: none;
}

.blue:hover {
  color: $accent;
}

.blue:visited {
  color: $accent;
}

.blue:active {
  color: $accent;
}

button,
.button {
  appearance: button;
  backface-visibility: hidden;
  background-color: $accent;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: $accent-text;
  cursor: pointer;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: relative;
}

.select {
  backface-visibility: hidden;
  width: 100%;

  background-color: $accent;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: $accent-text;
  cursor: pointer;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: relative;
}
button:disabled {
  cursor: default;
}
.infoGrid {
  display: grid;
  align-items:flex-start;
  grid-template-columns: 1fr 1fr;
}
.card {
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px #efefef;
  backdrop-filter: blur(15px);
  padding: 10px;
}
button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
.cont {
  text-align: center;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}

.btnLink {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
.icon {
  margin-bottom: -5px;
}

.sidebar a {
  color: black;
  padding: 16px;
  text-decoration: none;
}

.content {
  margin-left: 200px;
  @media screen and (min-width: 700px) {
    margin-right: 150px;
  }
  height: 1000px;
  position: relative;
}

@media screen and (min-width: 430px) {
  .sidebar a {
    display: flex;
  }
}

.twoRow {
  display: none;
}
@media screen and (max-width: 430px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  .twoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 430px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .hideMobile {
    display: none;
  }
  .mobile {
    display: grid;
    grid-template-columns: repeat(6, 16.67%);
  }
  .buttons {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
  }
  .gButton {
    margin: auto;
  }
}
@media screen and (min-width: 430px) {
  .hideDesktop {
    display: none;
  }
}
.lHover {
  text-decoration: none;
  background: /* linear-gradient(
      rgba(127, 82, 131, 1),
      rgba(127, 82, 131, 1)
    ) */ linear-gradient(
      to right,
      #ede9d5,
      #ede9d5,
      #ede9d5
    ),
    linear-gradient(to right, #54bab9, #54bab9, #54bab9);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.lHover:hover {
  background-size: 0 3px, 100% 3px;
}

.gButton {
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  background: linear-gradient(87deg, #03a9f4, #f441a5, #f441a5, #03a9f4);
  background-size: 400%;
  cursor: pointer;
  animation: animate 60s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
